    <%= form_with model: [ @post, @post.comments.build ] do |form| %>
    <p>
        <%= form.label :Autor %><br>
        <% if user_signed_in? %>
            <%= form.text_field :commenter, value: current_user.email, readonly: true %>
        <% else %>
            <%= form.text_field :commenter, value: "Anônimo", readonly: true %>
        <% end %>
    </p>
    <p>
        <%= form.label :Texto %><br>
        <%= form.text_area :body %>
    </p>
    <p>
        <%= form.submit %>
    </p>

<% end %>